@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font {
  font-family: 'Manrope', sans-serif;
}

body {
  background-color: white;
  color: black;
}


.liner-text {
  background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn-linear{
  background: var(--Linear, linear-gradient(90deg, #7E90FE 0%, #9873FF 100%));
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-radius: 8px;
  color: white;
  padding:10px;
  
}
.header-background{
  background: linear-gradient(90deg, rgba(126, 144, 254, 0.05) 0%, rgba(152, 115, 255, 0.05) 100%);
}
.txt-black{
  color: var(--Dark-02, #474747);
}